body {
  background-color: black;
  background-image: url("/assets/images/default_bg.png");
  background-image: url("https://random.imagecdn.app/v1/image?width=500&height=500");
}

#content {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  color: white;
}

#content input {
  flex: 1;
  font-size: 35px; 
}

#content img {
  margin: auto;
  width: 520px;
}

.question {
  flex: 1;
  background-color: black;
  font-size: 16px; 
}

h3 {
  background: white;
  color: black;
  mix-blend-mode: difference;
}

h3 + * {
  background: black;
  padding: 5px 20px;
  border-style: solid;
  border-width: 1px;
}

h3 + * > *:hover {
  background: white;
  color: black;
  cursor: cell;
}

@media only screen and (max-width: 1000px) {
  #content {
    width: 75%;
  }
  #content img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #content {
    width: 100%;
  }
  #content img {
    width: 100%;
  }
}
