html {
  height: 100%;
}

body {
  background-color: black;
  background-image: url("/assets/images/default_bg.png");
  background-image: url("https://random.imagecdn.app/v1/image?width=500&height=500");
  margin: 0px;
}

#content {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  color: white;
  max-width: 1500px;
}

#content input {
  flex: 1;
  font-size: 35px; 
}

#content img {
  margin: auto;
  width: 520px;
  mix-blend-mode: difference;
}

.question {
  flex: 1;
  background-color: black;
  font-size: 16px; 
}

h2 > a {
  text-decoration: none;
  color: black;
}

h3 {
  background: white;
  color: black;
  mix-blend-mode: difference;
  padding: 0px 50px;
}
h3 + * {
  background: black;
  padding: 5px 20px;
  border-style: solid;
  border-width: 1px;
}
h3 + * > *:hover {
  background: white;
  color: black;
  cursor: cell;
}

table {
  flex-direction: column;
}
tbody, table {
  padding: 0px;
  font-size: 20px;
}
th  {
  background: white;
  color: black;
}
tr {
  background: black;
  color: white;
}
table, th, tr, td {
  display: flex;
  flex: 1;
}
td:first-of-type{
  white-space: nowrap;
  max-width: min-content;
}
td > *, th > * {  
  margin: auto;
  padding: 20px 0px;
}

hr {
  border-style: none;
  margin: 100px 0px;
  height: 50px;
  width: 100vw;
  background: white;
  mix-blend-mode: difference;
}

textarea {
  resize: none;
  font-size: 15px;
  min-height: 100px;
}

#clear {
  position: absolute;
  top: 68px;
  left: calc(75% - 20px);
}

@media only screen and (max-width: 1000px) {
  #content {
    width: 75%;
  }
  #content img {
    width: 100%;
  }
  #clear {
    left: calc(87% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  #content {
    width: 100%;
  }
  #content img {
    width: 100%;
  }
  #clear {
    left: calc(100% - 20px);
  }
}
